.container {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 2rem;
}

.pageTitle {
  font-weight: 700;
  font-size: 2rem;
  padding: 2rem 0;
  line-height: 1.5;
}

.todoContainer {
  padding: 1rem 0;
  display: flex;
  flex-direction: row;
  width: 100%;
}

.noTasks {
  margin: 2rem 0;

  border: none;
  color: #fff;
  background-color: #9b3574;
  padding: 1rem;
  width: 100%;
  border-radius: 0.5rem;
  transition: all .15s ease-in-out;
}

.noTasks:hover {
  opacity: .85;
}