.title {
  font-weight: 500;
  font-size: 1.25rem;
  border-bottom: 1px solid;
  margin: 1rem 0;
}

.container {
  width: 100%;
}

.container + .container {
  margin-left: 1rem;
}

.dropOver .listContainer{
  border: 1px dashed red;
}