.title {
  font-weight: 500;
  font-size: 1.25rem;
  border-bottom: 1px solid;
  margin: 1rem 0;
}

.container {
  width: 100%;
}

.container + .container {
  margin-left: 1rem;
}

.listContainer {
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.dropOver .listContainer.completed {
  border: 2px dashed #dec61a;
}

.dropOver .listContainer.pending { 
  border: 2px dashed #1dab3c;
}